body{
    background-color: black;
    /* color: white; */
    /* text-align: center; */
}

.navigation{    /* ロゴ */
    text-align: center;
}

h1{     /* タイトル */
    font-size: 300%;
    color: white;
    text-align: center;
    font-weight: bold;
}

h2{     /* タイトル */
    font-size: 90%;
    color: white;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}

table{
    /* text-align: center; */
    justify-content: center;
    background-color: rgb(243, 242, 242);
}

.formTable {
    margin: 0 auto;
    padding: 5%;
    background-color: rgb(229, 229, 229);
}

th{
    /* margin: 10px; */
    padding: 10px;
    /* padding-right: 20px; */
    font-size: 130%;
}

td{
    padding: 10px;
    font-size: 110%;
}


/* 送信ボタン */
#submit {
    /* position: relative; */
    /* display: inline-block; */
    padding: .5em 4em;
    border: 2px solid red;
    background: red;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: .3s;
    overflow: hidden;
    font-weight: bolder;
}

#submit:hover {
    background: black;
    border: 2px solid black;
}